body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #83cc1d;
}

nav li:last-child a:hover {
  background: #5e9116;
}

nav li a {
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  color: #83cc1d;
}

section.hero {
  background: #fafff1;
}

.size {
  background: #cbf18d;
}

.add-to-cart {
  border: 2px solid #83cc1d;
  color: #83cc1d;
  transition: all 0.3s ease-in-out;
}

.add-to-cart:hover {
  background: #83cc1d;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #83cc1d;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background: #5e9116;
}

section.cart {
  background: #fafff1;
}

section.cart .amount {
  color: #83cc1d;
}

