// partial file

// colors
$primary:  #83cc1d; //#FE5F1E;
$primary-hover: #5e9116; //#b23301;
$secondary: #fafff1;
$ternary: #cbf18d;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition
$smooth: all .3s ease-in-out;