@import "./variables.scss";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}
nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
  }

section.hero {
    background: $secondary;
}

.yield {
    background: $ternary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;
    .amount {
        color: $primary;
    }
}

section.login {
    background: $secondary;
    min-height: calc(100vh - 100px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}
.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}

footer {
    color: $primary;
}

.modify-btns {
    &:focus {
        outline: none;
    }
}

a.link {
    color: $primary;
}

.orders {
    background: $secondary;
}

// SINGLE ORDER TRACKER PAGE
section.status {
    background: $secondary;
    min-height: calc(100vh - 140px);
}
.status-box {
    padding: 60px 0 0;
}
.status-box ul {
    margin-left: 84px;
}

// Dots 
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

// Icons from Line Awesome Library
.status-box ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}
.status-box ul li:nth-child(2) span:before {
    content: '\f543';
}
.status-box ul li:nth-child(3) span:before {
    content: '\f787';
}
.status-box ul li:nth-child(4) span:before {
    content: '\f21c';
}
.status-box ul li:nth-child(5) span:before {
    content: '\f2e7';
}

// Lines
.status-box ul li {
    position: relative;
}
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}
// Remove last line after last dot
.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}

// Old status - Gray elements
// Lines
.status-box ul li.step-completed:before {
    background: $gray;
}
// Dots
.status-box ul li.step-completed span:after {
    background: $gray;
}
// Text & Icon
.status-box ul li.step-completed span {
    color: $gray;
}

// Current Status - Green elements
// Dots
.status-box ul li.current span:after {
    background: $primary;
}
// Text & Icon
.status-box ul li.current span {
    color: $primary;
}

// Order Status Time
.status-box ul li small{
    float: right;
    // font-size: 16px;
    margin-top: 4px;
}

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media(max-width:768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
}